h1{
    text-align: center;
}

.contents{
    margin: 30px 0;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    top: 20px;
} 

.menu {
    margin: 0 35px;
    min-height: 100%;
    float: right;   
}

.additional ,[type=password], [type=text]{
    margin: 15px 0;
    width: 300px;
    padding: 5px;
  }

.footer{
    margin: 40px 35px;
}