h1{
    display: flex;
    max-width: 85%;
    justify-content: center;
}

#wrap{
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.contents{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    max-width: 85%;
} 

.contents table{
    max-width: 400px;
}

.container{
    justify-content: space-between;
    display: flex;
}

.blocks{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.container2{
    max-width: 85%;
}

.additional{
    display: flex;
    justify-content: center;
  }

.additional input{
    width: 250px;
    height: 20px;
    margin: 20px 0;
}

.footer{
    display: flex;
    justify-content: center;
    margin: 40px 35px;
}
