h1{
    display: flex;
    justify-content: center;
}

#wrap{
    flex-wrap: wrap;
    overflow: hidden;
}

.contents{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    max-width: 85%;
} 

.container{
    justify-content: space-between;
    display: flex;
}

.blocks{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

table{
    max-width: 400px;
}

.menu{
    display: flex;
    float: right;
    flex-direction: column;
}

.additional ,[type=password], [type=text]{
    display: flex;
    margin: 20px 0;
  }

.footer{
    display: flex;
    margin: 40px 35px;
}
