h1{
    display: grid;
    justify-content: center;
}

.menu{
    display: grid;
    float: right;
}

.container{
    justify-content: space-between;
    display: grid;
    grid-template-columns: 400px 400px 300px;
}

.contents{
    display: grid;
    max-width: 85%;
    border: 2px solid black;
}

.contents table{
    max-width: 400px;
}

.additional{
    display: grid;
    justify-content: center;
}

.additional input{
    display: grid;
    width: 250px;
    height: 20px;
    margin: 20px 0;
}

.footer{
    display: grid;
    justify-content: center;
    background-color: rgba(219, 233, 233, 0.512);
}
