h1{
    display: grid;
    max-width: 85%;
    justify-items: center;
}

#wrap{
    display: grid;
    grid-template-columns: 85% 10%;
    grid-column-gap: 30px;
}

.container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 50px;
}

.container2{
    max-width: 85%;
    display: grid;
    grid-template-rows: 300px;
}

.contents{
    border: 2px solid black;
    grid-row: 1;
}

.contents table{
    max-width: 400px;
}

.additional{
    display: grid;
    grid-column: 2;
    grid-row: 1;
}

.additional input{
    width: 250px;
    height: 20px;
    margin: 20px 0;
}

.footer{
    display: grid;
    background-color: rgba(219, 233, 233, 0.512);
    max-width: 50%;
    grid-column: 2;
    grid-row: 2;
}
